<h1><%= @band.name %></h1>

<h3>Album: <%= @band.album_title %></h3>

<h3>Date formed: <%= @band.date_started %></h3>
<%= image_tag @band.picture if @band.picture.attached? %>

<div class="form-helpers">
  <% if current_user.id == @band.user.id %>
    <%= link_to 'Edit', edit_band_path(@band) %>
    <%= link_to 'Delete', band_path(@band), method: :delete, data: { confirm: "Really want to delete #{@band.name}?"} %>
  <% end %>
    <%= link_to 'Back', bands_path %>
</div>


